section{
	display: flex;
	flex-direction: column;
}
section:nth-child(2n+1){
	
	background-color: lightgrey;
}
#project_description div{
	width: auto;
	height: auto;
	text-align: justify;
	padding: 10px;
}
.heading{
	font-size: 2.5rem;
	text-align: center;
}
header{
	background-image: url(images/wheel_chair.jpg);
	text-align: center;
	background-size:contain;
	width: 100%;
	height: 90vh;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.name{
	height: auto;
	width: auto;
	box-shadow: 3px 3px 2px 2px;
	border-radius: 3px;
	font-weight: bold;
	font-size: 1rem;
	color: black;
	position: fixed;
	top: 50%;
	right: 0;
}
.name:hover{
	background-color: white;
}
.details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 97vw;
    color: transparent;
    text-align: center;
    padding-bottom: 10px;

}
.details h1{
	margin-top: 30vh;
	font-size: 100px;
}
header:hover .details {
    background-color: #80808078;
    width: 100%;
    color: white;
}
header:hover a{
    color: white;
}
header a:hover{
	transition: 2s;
	border-bottom: 2px solid gray;
	color: grey;
}
li{
	display: inline-block;
	padding-left: 1rem;
	list-style: none;
}
li a{
    font-weight: 100;
    font-size: 1.5rem;
    text-decoration: none;
    color: transparent;
}
#apparatus{
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	padding: 5px;
	width: auto;
	text-align: center;
}
.item{
	display: flex;
	text-align: center;
	flex-direction: row;
	width: 90%;
	padding: 10px;
	margin: 10px 20px 10px 30px;
	border-radius: 7px;
	box-shadow: 2px 2px 6px 1px black;
}
.item_name{
	width: 20%;
	margin: 10px;
	height: auto;
	box-shadow: 0px 0px 10px 2px black inset;
	border-radius: 7px;
}
.item_description{
	width: 70%;
	margin: 10px;
	height: 30vh;
	text-align: justify;
}
.item1{
	background-image: url(images/arduino.jpg);
	background-position: center;
	background-size: cover;
}
.item1:hover{
	transform: scale(1.3);
	box-shadow: 0 0 20px black;
	z-index: 3;
}
.item2{
	background-image: url(images/nodemcu.jpg);
	background-position: center;
	background-size: cover;
}
.item2:hover{
	transform: scale(1.3);
	box-shadow: 0 0 20px black;
	z-index: 3;
}
.item3{
	background-image: url(images/voice_recognition_module.jpg);
	background-position: center;
	background-size: cover;
}
.item3:hover{
	transform: scale(1.3);
	box-shadow: 0 0 20px black;
	z-index: 3;
}
.item4{
	background-image: url(images/ultrasonic_sensor.jpg);
	background-position: center;
	background-size: cover;
}
.item4:hover{
	transform: scale(1.3);
	box-shadow: 0 0 20px black;
	z-index: 3;
}
.item5{
	background-image: url(images/jumperwires.jpg);
	background-position: center;
	background-size: cover;
}
.item5:hover{
	transform: scale(1.3);
	box-shadow: 0 0 20px black;
	z-index: 3;
}
.item6{
	background-image: url(images/lm35_sensor.jpg);
	background-position: center;
	background-size: cover;
}
.item6:hover{
	transform: scale(1.3);
	box-shadow: 0 0 20px black;
	z-index: 3;
}
.item7{
	background-image: url(images/flame-sensor-module.png);
	background-position: center;
	background-size: cover;
}
.item7:hover{
	transform: scale(1.3);
	box-shadow: 0 0 20px black;
	z-6index: 3;
}
.item8{
	background-image: url(images/pulse_oximeter_heartrate_sensor.jpg);
	background-position: center;
	background-size: cover;
}
.item8:hover{
	transform: scale(1.3);
	box-shadow: 0 0 20px black;
	z-index: 3;
}
.item9{
	background-image: url(images/DC_motor.jpg);
	background-position: center;
	background-size: cover;
}
.item9:hover{
	transform: scale(1.3);
	box-shadow: 0 0 20px black;
	z-index: 3;
}
.item10{
	background-image: url(images/motordriver.jpg);
	background-position: center;
	background-size: cover;
}
.item10:hover{
	transform: scale(1.3);
	box-shadow: 0 0 20px black;
	z-index: 3;
}
.item11{
	background-image: url(images/RF_transmitter_receiver.jpg);
	background-position: center;
	background-size: cover;
}
.item11:hover{
	transform: scale(1.3);
	box-shadow: 0 0 20px black;
	z-index: 3;
}
.item12{
	background-image: url(images/breadboard.jpg);
	background-position: center;
	background-size: cover;
}
.item12:hover{
	transform: scale(1.3);
	box-shadow: 0 0 20px black;
	z-index: 3;
}
/*circuit diagram and code*/

#circuit{
	text-align: center;
}
#circuit_diagram_and_code{
	display: flex;
	flex-direction: row;
	height: 80vh;
}
.circuit_diagram{
	display: flex;
	height: 80%;
	width: 60%;
}
.circuit1 {
	background-image: url(images/wheel_chair_circuit1.png);
	height: 80%;
	width: 60%;
	margin: 5px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 8px;
	box-shadow: 0px 0px 6px 1px black ;
}
.circuit1:hover{
	
	box-shadow: 0 0 20px black;
	
}
.circuit2 {
	background-image: url(images/wheel_chair_circuit2.png);
	height: 80%;
	width: 60%;
	margin: 5px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 8px;
	box-shadow: 0px 0px 6px 1px black ;
}
.circuit2:hover{
	box-shadow: 0 0 20px black;
}
.circuit3 {
	background-image: url(images/wheel_chair_circuit3.png);
	height: 80%;
	width: 60%;
	margin: 5px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 8px;
	box-shadow: 0px 0px 6px 1px black ;
}
.circuit3:hover{
	
	box-shadow: 0 0 20px black;
	
}

.code{
	text-align: left;
	height: 80%;
	width: 35%;
	margin: 10px;
	overflow: scroll;
	background-color: white;
}
.code h1,h4{
	text-align: center;
}
#circuit p{
	text-align: left;
	font-size: 20px;
}
/*working*/
#working_video_and_working{
	display: flex;
	flex-direction: row;
	
}
#working{
	text-align: center;
}
.working_text{
	text-align: justify;
	height: 50vh;
	width: 70%;
	margin: 20px 150px;
}
.videos{
	height: 70vh;
	width: 30%;
	text-align: center;
}
.mp4{
	margin: 10px 120px;
}
.item_description div{
	color:  #2857a4;
	font-weight: bold;
	font-size: 1.5rem;
}
.fo{
	font-family: serif;
	font-size: 1.3rem;
}